DB_HOST="localhost"
DB_NAME="ecotrace"
DB_USER="root"
DB_PASS="votre_mot_de_passe"
ADMIN_USER="admin"
ADMIN_PASS="admin"
GITHUB_REPO="https://github.com/dnau1973-hash/ecotrace2.git"
ORIGIN_LAT=0
ORIGIN_LON=0
